<li class="media message">
  <div class="media-body">
    <h4 class="media-heading"><%= message.user.name %> says
      <small class="text-muted">[at <%= message.created_at.strftime('%-d %B %Y, %H:%M:%S') %>]</small></h4>
    <p><%= message.body %></p>
  </div>
</li>